@media print {

    html {
        font-size: 0.8em;
    }

    body {
        height: 297mm;
        margin-left: auto;
        margin-right: auto;
        width: 210mm;
    }

    input[type="text"] {
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        text-align-last: center;
    }

    .basicInfoTable {
        width: 100%;
    }

    .no-print {
        display: none;
    }

    .pointCheckbox+label {
        content: url("../images/EmptyPoint.png");
    }

    .pointCheckbox:checked+label {
        content: url("../images/FillPoint.png");
    }
}