@media print {
    html {
        font-size: .8em
    }

    body {
        height: 297mm;
        margin-left: auto;
        margin-right: auto;
        width: 210mm
    }

    body>form {
        margin-top: 0
    }


    input[type=text],
    select {
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
        border-top: none
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        text-align-last: center
    }

    .basicInfoTable,
    .customHeader {
        width: 100%
    }

    .basicInfoTable td input[type=text]:not(:last-child) {
        width: 100%
    }

    .centered {
        text-align: center
    }

    .darkColorMode {
        background: #fff
    }

    .darkColorMode body>form {
        filter: invert(0);
        -webkit-filter: invert(0)
    }

    .darkColorMode option {
        background: #fff;
        color: #000
    }

    .fromRight {
        float: right
    }

    .no-print {
        display: none
    }

    .pointCheckbox+label {
        content: url(../images/EmptyPoint.png)
    }

    .pointCheckbox:checked+label {
        content: url(../images/FillPoint.png)
    }

    .overrideFlowRoot {
        text-align: center
    }

    .overrideFlowRoot div:nth-child(1),
    .overrideFlowRoot div:nth-child(2) {
        float: none
    }

    .percent30 {
        width: 30%
    }

    .percent50 {
        width: 50%
    }
}