.basicInfoTable,
body {
    margin-left: auto;
    margin-right: auto
}

html {
    font-family: sans-serif;
    font-size: 1em
}

body>form {
    margin-top: 30px
}

.basicInfoTable {
    width: 80%
}

.basicInfoTable td input[type=text] {
    display: table-cell;
    width: 100%
}

.basicInfoTable td input[type=text]:not(:last-child) {
    flex: 1
}

.basicInfoTable input[type=checkbox] {
    pointer-events: none
}

.bordered {
    border-bottom: 1px solid #000
}

.inlineBlock {
    display: inline-block
}

.inlineBlock img {
    float: left;
    height: 15px;
    padding: 0 1px
}

.inlineBlock input[type=checkbox] {
    height: 15px;
    margin: 0
}

.additionsOptionSelect,
.advantagesDisadvantagesOptionSelect,
.disciplinesOptionSelect {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.disabledCheckbox {
    pointer-events: none
}

.pointCheckbox {
    display: none
}

.pointCheckbox+label {
    background-image: url(../images/EmptyPoint.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 15px;
    margin: 0 1px;
    width: 15px
}

.pointCheckbox:checked+label {
    background-image: url(../images/FillPoint.png)
}

.pointContainer {
    display: inline-block
}

.pointContainer img {
    height: 15px;
    padding: 0 1px
}

.customHeader {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%
}

.flowRoot {
    clear: left;
    display: flow-root
}

.clearfix:after {
    clear: both;
    content: "";
    display: block
}

.flowRoot div:nth-child(1) {
    float: left;
    margin: 5px 0 0
}

.flowRoot div:nth-child(2) {
    float: right;
    margin: 5px 0 0
}

.flexClean {
    clear: left;
    display: flex
}

.inlineClean {
    clear: left;
    display: inline
}

/* Top bar style */
.topBar {
    background-color: #333;
    height: 30px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.topBar>form {
    display: inline-block
}

.topBar button {
    background-color: #999;
    border-radius: 8px;
    margin: 5px 0 5px 5px;
    max-height: 20px
}

.topBar>button {
    float: right;
    margin: 5px 5px 5px 0
}

/* End top bar style */

/* Color mode switch */
.darkColorMode {
    background: #000
}

.darkColorMode body>form {
    filter: invert(1);
    -webkit-filter: invert(1)
}

.darkColorMode option {
    background: #000;
    color: #fff
}

/* End color mode switch*/

@media screen and (max-width:790px) {
    table {
        border: 0
    }

    table caption {
        font-size: 1.3em
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        margin: 1em 0;
        text-align: right
    }

    table td::before {
        content: attr(data-name);
        float: left;
        font-weight: 700;
        text-transform: uppercase
    }

    table td:last-child {
        border-bottom: 0
    }

    table td:empty {
        display: none
    }

    .hideIfScreenNarrow,
    table th {
        display: none
    }
}

@media only screen and (min-width:790px) {
    .basicInfoTable td {
        padding: 2px
    }

    .centered {
        text-align: center
    }

    .fromRight {
        float: right
    }

    .overrideFlowRoot {
        text-align: center
    }

    .overrideFlowRoot div:nth-child(1),
    .overrideFlowRoot div:nth-child(2) {
        float: none
    }

    .oneThird {
        width: 33.3%
    }
}