body {
    height: 297mm;
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
}

html {
    font-family: sans-serif;
    font-size: 14px;
}

input[type="checkbox"]{
	pointer-events: none;
}

.basicInfoTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.basicInfoTable td {
    padding: 2px;
}

.basicInfoTable td input[type="text"] {
    /*width: 14em;*/
    display: table-cell;
    width: 100%;
}

.bordered {
    border-bottom: 1px solid #000;
}

.centered {
    text-align: center;
}

.fromRight {
    float: right;
}

.inlineBlock {
    display: inline-block;
}

.inlineBlock img {
    float: left;
    height: 15px;
    padding: 0 1px;
}

.inlineBlock input[type="checkbox"] {
    height: 15px;
    margin: 0;
}

.oneThird {
    width: 33%;
}

.additionsOptionSelect {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.advantagesDisadvantagesOptionSelect {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.disciplinesOptionSelect {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pointContainer {
    display: inline-block;
}

.pointContainer img {
    height: 15px;
    padding: 0 1px;
}